.comments-card__block-quote{
	margin: 0;
}

@media screen and (max-width: 1280px){
	.comments-card__block-quote{
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.comments-card__block-quote{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
}