.website__url-heading{
	width: 484px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.2em;
	color: #AAAAAA;
	margin: 0 0 16px 0;
}

@media screen and (max-width: 1280px){
	.website__url-heading{
		width: 50%;
	}
}

@media screen and (max-width: 1024px){
	.website__url-heading{
		width: 50%;
	}
}

@media screen and (max-width: 768px){
	.website__url-heading{
		width: 50%;
	}
}

@media screen and (max-width: 425px){
	.website__url-heading{
		width: 100%;
	}
}