@media screen and (max-width: 1024px){
	.content-subtitle_place_comments{
		width: 70%;
		font-size: 24px;
		line-height: 35px;
	}
}

@media screen and (max-width: 768px){
	.content-subtitle_place_comments{
		width: 85%;
		font-size: 24px;
		line-height: 35px;
	}
}

@media screen and (max-width: 540px){
	.content-subtitle_place_comments{
		width: 90%;
		font-size: 4vw;
		line-height: 5vw;
	}
}

@media screen and (max-width: 425px){
	.content-subtitle_place_comments{
		width: 90%;
		font-size: 4vw;
		line-height: 5vw;
	}
}

@media screen and (max-width: 375px){
	.content-subtitle_place_comments{
		font-size: 16px;
		line-height: 23px;
	}
}

@media screen and (max-width: 320px){
	.content-subtitle_place_comments{
		font-size: 16px;
		line-height: 23px;
	}
}